[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/doctest"]
	path = deps/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "deps/benchmark"]
	path = deps/benchmark
	url = https://github.com/google/benchmark.git
